
select {
  outline: none;
}

button {
  outline: none;
}

.my-form {
  display: flex;
  align-items: center;
}

.my-block {
  padding: 10px 30px;
}

.my-button {
  border-radius: 25px;
  margin-left: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 20px;
}

.my-select {
  padding: 10px 20px;
  border-radius: 25px;
  min-width: 230px;
}
